* {
    scroll-behavior: smooth;
  }
  
.row {
    display: flex;
}
  
.left {
    flex: 35%;   
    text-align: center;
}

.right {
    flex: 65%;
    margin-top: 60px;
    padding: 20px;
}

Menu{
    padding: 30px;
    text-align: center;
    left: 12.5%;
    position: fixed; 
}

.description{
    flex:60%; 
    padding-left: 10px
}

.titleHolder{
    padding : 10px;
    flex-basis: 500px;
    background-color: gray;
    flex : 40%;
    border: 3px black;
    height: auto;
    border-style: solid;
    border-radius: 10px;
}

.titleHolder img{
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
    min-height: 200px;
}

.project{
    display : flex;
    gap : 20px;
    margin-bottom: 20px;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}

.marker{
    display: block;
}